body{
    background-image: url('./imagen/fondo.jpeg'); 
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
}
main{
    width: 100%;
    margin: -48px auto 0;
    display: flex;
    align-items: center;
}
.section1{
    margin: -1.8384vh auto 0;
    padding: 0 2%;
    width: 16.7%;
    height: auto;
    border-radius: 8px;
    background: rgb(63,109,182);
    margin-right: auto;
      text-shadow: 0 0 5px  white, 0 0 15px  white, 0 0 30px  white;
background: rgba(255, 255, 255, 0.1);
background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 14%, rgba(255, 255, 255, 0.05) 48%, rgba(255, 255, 255, 0.1) 84%);
}
.section2{
    background: rgb(63,109,182);
    border-radius: 8px;
    width: 37%;
    height: auto;
background: rgba(255, 255, 255, 0.1);
background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 14%, rgba(255, 255, 255, 0.05) 48%, rgba(255, 255, 255, 0.1) 84%);

}
.section3{
    margin: -1.8384vh auto 0;
    padding: 0 2%;
    width: 16.7%;
    height: auto;
    border-radius: 8px;
   
background: rgba(255, 255, 255, 0.1);
background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 14%, rgba(255, 255, 255, 0.05) 48%, rgba(255, 255, 255, 0.1) 84%);
  text-shadow: 0 0 5px  white, 0 0 15px  white, 0 0 30px  white;
    margin-left: auto;
}
h2{
    color: white;
    opacity: 85%;
    font-size: 1.789vw;
}
h3{
    opacity: 90%;
    font-size: 1.789vw;
    color: white;
}
button{
    height: 7.6vw;
    width: 7.6vw;
    font-size: 2vw;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 0; 
    margin: 0; /* Elimina el margen del botón */
    background-size: cover; /* Asegura que la imagen ocupe todo el área del botón */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    border: none; /* Elimina el borde del botón */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.estadisticas,.estadisticas1{
    border: 1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
.start{
    height: 3vw;
    width: 10vw;
    font-size: 1.1vw;
    margin-bottom: 10px;
    color: white;
    background:  #515151;
    border: 2px solid white;
    border-radius: 8px;
}
.start:hover{
     border: 2px solid white;
     background-color: #1d405c;
     color:  white;
}
.disabled{
    cursor: not-allowed;
    opacity: 50%;
}
.disabled1{
    cursor: pointer;
    opacity: 100%;
}
.figura,.logo{
    display: flex;
    justify-content: center;
    opacity: 90%;     
}
.t_restante{
    text-shadow: 0 0 5px  white, 0 0 15px  white, 0 0 30px  white;
    color: white;  
}
.player{
    text-align: center;
  }
.auto{
    width: 100%;
    height: 100%;
  }
  .tiempo{
    display: flex;
  }
  .botones{
    display: flex;
    justify-content: center;
  }
  .inicio{
    display: flex;
    justify-content: center; 
    opacity: 95%;
    margin: 5px auto 0;
  }
  .player1{
    text-align: center;
    opacity: 40%;
    color: #a7a7a7;
    text-shadow: 0 0 10px whitesmoke;
    font-size: 1.789vw;
  }
 .turnocolor{
   opacity: 100%;
 }
 .custom-alert {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 63.8vh;
    width: 33vw;
    margin: 0;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   border: none; 
    padding: 20px;
  background: linear-gradient(to right, rgba(128, 128, 128, 0.8), rgba(255, 255, 255, 0.8), rgba(128, 128, 128, 0.8));
  color: black;
    z-index: 1000;
    text-align: center; /* Centra el contenido */
    border-radius: 8px;
}
.custom-alert h2 {
    margin-top: 0;
    font-size: 5vh;
    color: black;
    text-shadow: 0 0px 10px black; 
}
.custom-alert h3{
    margin-top: 0;
    color: black;
    text-shadow: 0 0px 10px black; 
    font-size: 1.7vw;
}
.custom-alert h4{
    font-size: 1.19vw;
}
.custom-alert button {
    opacity: 85%;
    height: 3vw;
    width: 7vw;
    font-size: 1.1vw;
    margin-bottom: 20px;
     color: white;
     background:  #515151;
     border: 2px solid white;
     border-radius: 8px;
}
.custom-alert button:hover {
     background-color:#1d405c;
     color:  white;
     border: 2px solid white;
     border-radius: 8px;
    }
.custom-alert-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Asegura que la capa overlay esté por debajo de la alerta */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1600px) {
    main {
        width: 100%;
        margin: -3% auto 0;
        display: flex;
        align-items: center;
    }
    .custom-alert {
        height: 65.8vh;
        width: 33vw;
    }
  }
